
/** page css */
  .main {
    background: #0bb791;
    font-size: 20px;
    padding-left:50px;
    padding-right: 50px;
    
  }
  .header {
    background: #0bb791;
  }
  .footer {
    background: #0bb791;
  }
  .loginForm {
    background: rgba(210, 224, 224, 0.533);
    align-items:center;
    font-size: 25px;
  }
  .header {
    grid-area: header;
}
.emailInput {
  font-size:20px;
  
  font-weight: 400;
}
.main {
    grid-area: main;
    text-align: center;
}
.footer {
    grid-area: footer;
} 
.disclaimerParagraph {
 background-color: white;
 border-style: line;
 mask-border-width: 20px;
} 
    body {
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    display: flex; 
    font-weight: 400;
    font-family: sans-serif;
    background: #18ad5b;  
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 4fr;
    vertical-align: center;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer"; 
  }
    
  /** Component assets */
  .hazard-page-container {
    display: grid;
    grid-template-columns: 70% 30%;
  }
  
  .hazard {
    background: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .hazard h3 {
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  
  .hazard img {
    width: 100px;
    height: 100px;
  }
 
  .logo {
    height: 200px;
    width: 300px;
}
  